@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');
:root{
    --lightgrey: #2b3032a1;
    --primary-color:white;
    --secondary-color: black;
    --ify-color: grey;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive
}
body{
    font-family: var(--roboto);
}

html{
    font-size: 16px;
}

* {
    margin:0;
    box-sizing: border-box;
    padding: 0;
}


.container{
    display: block;
    /*grid-template-columns: 1fr;*/
    
   
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 38px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--primary-color);
    top:0;
    align-items: center;
    
    
}


.left-side{
    display: flex;
    align-items: center;
    
}

.nav-wrapper .left-side div{
    margin-right: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;

}






/*.left-side .logo img{
    overflow: hidden;
    height: 60%;
    padding-bottom: 0.8rem;
    position: relative;
    top: 0;
}*/



.right-side{
    display: flex;
    
}
.nav-wrapper .right-side div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s linear;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 1s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a {
    color: black !important;
}

.victory{
    height:4rem;
    width: 4rem;
    object-fit: cover;
}


/*background*/


.content-wrapper{
    display: block;
    width: 100%;
    margin-top: 70px;
}

.content-wrapper .image-background {
    height: 43.5rem;
    display: flex;
    justify-content: center;
    background-image: url('../images/image1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 5rem;
}

.sign-up{
    position: relative;
    top: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem 2.5rem 5rem;
    width: 40.625rem;
    margin-top: 2rem;
    height: 20.625rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

.sign-up h1 {
    font-size: 3.130rem;
     color: white;
     line-height: 1.4;
     font-family: "Rubik";
     text-align: center;
     justify-content: center;
     padding-bottom: 0.70rem;
    
}

.sign-up h2 {
    font-size: 2.25rem;
    
    text-align: center;
    padding-top: 0.125rem;
    font-family: "gugi", cursive;
    color: #9dc20b;
    
   
  }

  .sign-up p{
    font-weight: bold;
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.25rem;
}

 .order {
    width: 8rem;
    height: 4rem;
    background-color: black;
    border-radius: 0.2rem;
    color: white;
    margin: 1.13rem 0px 0px;
    cursor: pointer;
    border-radius: 10px;
   /* display: inline-block;*/
    transition: all 1s ease-in 700ms;
}
a{
    text-decoration: none;
    color: white;
}
.order:hover{
    transform: scale(1.1);
    color: black;
    background-color: var(--primary-color);
}

/*OUR PURPOSE*/

.text-wrapper{
    display: flex;
    /*width: 100%;
    padding: 5rem*/
    
}

.text-holder{
    flex:1;
    font-size: 1.3rem;
    text-align: justify;
    font-weight: bold;
    
    
    
}

.text-holder1{
    
    padding-right: 2rem;
    flex-basis: 70%;
    font-size: 1.3rem;
    text-align: left;
    margin-left: 3rem;
    color: #4a4a4a;

}

.center{
    text-align: center
}

.big-container{
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.big-container .text{
   
    margin-bottom: 0.5rem;
    padding: 2rem .625rem;
    color: gray;
}

.big-container h1{
    font-family: var(--sofia);
    font-size: 2rem;
    padding: 32px 0 16px 0;
  }

  .big-container h2{
    font-family: var(--sofia);
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .big-container p{
    font-size: 1.5rem;
    font-family: var(--sofia);
}

.images-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*width: 70%;
    margin: 0rem auto;*/
}

.image-container{
    overflow: hidden;
   /* width:30%;*/
    width: 25rem;
    padding-bottom: 1.33rem;
    margin: 1rem;
    
}
.image-container img{
    height: 25rem;
    width: 25rem;
    object-fit: cover;
  }

  .row-container{
      width: 90%;
      margin: 5rem auto;
  }

  .row-container1{
    width: 90%;
    margin: 0 auto;
}

  .big-container1{
      
      display: block;
  }
/*prices*/
  .big-container1 h1{
    font-family: var(--roboto);
    font-size: 2rem;
    padding: 3rem 0 0.3rem 0;
    
  }

  .big-container1 .packages{
    font-family: var(--roboto);
    font-size: 1.2rem;
    padding: 2rem;
    
  }
  .big-container1 .text{
    margin: 0rem 3rem 3rem 3rem;
  }
  .texts-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*width: 70%;
    margin: 0rem auto;*/
}
.text-container {
    width: 40%;
    margin: 1rem;
    padding: 0;
   
    

}

.text1{
    padding: 1rem 1rem 0 1rem;
    height: auto;
}

.green{
    border: 1px solid green;
}

.orange{
    border: 1px solid yellow;
}

.chi1{
    
    padding-top: 1rem;
    font-family: var(--sofia);
}

.chi4{
    margin-bottom: 1rem;
    color: green;
    
}
.chi5{
    font-family: var(--sofia);
    margin-bottom: 2rem;
}

.chi6{
    font-family: var(--sofia);
    margin-bottom: 2rem;
}

.chi7{
    font-family: var(--sofia);
    margin-bottom: 2rem;
}

.text1 h1{
    color: green;
    font-size: 2rem;
    
}

.chi8{
    margin-bottom: 2rem;
}

.text1 p{
    margin-bottom: 2rem;
}

.text1{
    width:100%;
    height: auto;
}

/*buttons*/

.greenie{
    background-color: green;
    color: white;
    width: 100%;
    height: 4.5rem;
    text-align: center;
    cursor: pointer; 
    
}

.greenie:hover{
    background-color: #8a8a8a;
}

.orangie{
    background-color: yellow;
    color: white;
    width: 100%;
    height: 4.5rem;
    text-align: center;
    cursor: pointer; 
    
}

.orangie:hover{
    background-color: #8a8a8a;
}



  





